.popup__button-submit{
  width: 358px;
  height: 50px;
  background-color: #000;
  margin: 48px 36px 40px 36px;
  border-radius: 2px;
  opacity: 1;
  cursor: pointer;
}

.popup__button-submit:hover{
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .popup__button-submit{
    width: 238px;
    height: 46px;
    margin: 44px 22px 25px 22px;
  }
}
